body{
    margin: 0px 0px 0px 0px;
    font-family:Comic Sans MS;
}
div{
    margin-bottom: 10px;
}
.logo_cft{   
    width:100px;
    height: 80px;
    margin: 0%;
}
.dv_portada{
    width: 100%;
    height:300px;
}
.img_portada{
width: 100%;
height:100%;
}
.parr{
    text-align: center;
    width: 100%;
}
.dv_form{
    text-align: center;
    margin-left: 35%;
    width: 30%;
    height: 30%;
    min-width: 100px;
    margin-bottom: 100px;
}
.mens_cons{
    width:100%;
    height: 100%;
    background-color: rgba(146, 144, 141, 0.342);
}
.dv_msj{
    width:100%;
    height: 30%;
}
